.back-blue-square {
  width: 924px;
  height: 1028px;
  border-radius: 56px;
  background: #e5f6ff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper {
  padding: 40px 90px 90px 90px;
  position: relative;
  width: 100%;
}

// Main

main {
  padding-top: 56px;
  display: flex;
}

.acc {
  width: 490px;
  color: $color;
  margin-left: 100px;

  .name {
    font-size: 28px;
    font-weight: bold;
  }
}

.acc-list {
  margin-top: 86px;
  display: flex;
  flex-direction: column;
}
