.back-blue-square {
  width: 924px;
  height: 1028px;
  border-radius: 56px;
  background: #e5f6ff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper {
  padding: 40px 90px 90px 90px;
  position: relative;
  width: 100%;
}

// Main

main {
  padding-top: 56px;
  position: relative;
}

.bs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// header

.bs-header {
  display: flex;
  width: 1110px;
  align-items: center;
  justify-content: space-between;
}

h1.name {
  color: $color;
  font-size: 80px;
  font-weight: bold;
}

.arrows-wrapper {
  display: flex;

  .arrow {
    &-right {
      margin-left: 6px;
    }
  }
}

// list

.bs-list {
  display: flex;
  padding-top: 60px;
}

.card {
  width: 400px;
  height: 640px;
  padding: 8px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  margin-left: 40px;

  &:first-child {
    margin: 0;
  }
}

.details {
  display: flex;
  flex-direction: column;
  color: $color;
  background: $bg-card;
  border-radius: 32px;
  padding: 38px;
  position: relative;

  .name {
    font-size: 32px;
    font-weight: bold;

    &-second {
      font-size: 18px;
      font-weight: lighter;
    }
  }

  .price {
    padding-top: 30px;
  }

  .add {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
