.back-blue-square {
  width: 924px;
  height: 1028px;
  border-radius: 56px;
  background: #e5f6ff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper {
  padding: 40px 90px 90px 90px;
  position: relative;
  width: 100%;
}

// Main

main {
  padding-top: 56px;
  position: relative;
}

.bs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// header

.bs-header {
  display: flex;
  width: 1110px;
  align-items: center;
  justify-content: space-between;
}

h1.name {
  color: $color;
  font-size: 80px;
  font-weight: bold;
}

.arrows-wrapper {
  display: flex;

  .arrow {
    &-right {
      margin-left: 6px;
    }
  }
}

// list

.bs-list {
  display: flex;
  padding-top: 60px;
}
